/*** fonts ***/
@font-face {
    font-family: "font1";
    src: url(./font1.ttf);
}

@font-face {
    font-family: "font";
    src: url(./font.ttf);
}



body {
    background: black;
}

p {
    position: relative;
    color: rgb(200, 200, 200);
    text-align: center;
}

#title {
    margin: 30px auto 0px;
    font-size: 3rem;
    font-family: font1;
}

.line {
    border: 1px solid rgb(200, 200, 200);
    height: 30px;
    text-align: left;
    margin: 0;
    font-size: 0.7rem;
    line-height: 30px;
    padding-left: 15px;
    font-family: font;
}

.container {
    position: relative;
    margin: 30px auto;
    border: 3px solid rgb(200, 200, 200);
    width: 350px;
    height: 550px;
    overflow: scroll;
}